################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/winston/v16
/.vs/winston/v17
/libwinston/Debug
/libwinston/x64
/libwinston/libwinston.vcxproj.user
/winston/x64
/winston-tests/x64
/x64
/winston/resources/node_modules
/winston-stm32/.metadata
/winston-stm32/winston-mx/Debug
/winston-teensy/Debug
/winston-teensy/.vs/winston-teensy
/winston-teensy/Debug Realworld
/winston-teensy/Release
/.vs/winston/FileContentIndex
