################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/winston/v16
/.vs/winston/v17
/libwinston/Debug
/libwinston/x64
/libwinston/libwinston.vcxproj.user
/winston/x64
/winston-tests/x64
/x64
/winston/resources/node_modules
/winston-stm32/.metadata
/winston-stm32/winston-mx/Debug
/winston-teensy/Debug
/winston-teensy/.vs/winston-teensy
/winston-teensy/Debug Realworld
/winston-teensy/Release
/.vs/winston/FileContentIndex
/winston-esp-signal/wifi.h
/winston-esp-signal/Debug
/winston-esp-signal/.vs/winston-esp-signal
/winston-esp-signal/winston-esp-signal.vcxproj.user
/winston-loconet-bridge/.vs/winston-loconet-bridge
/winston-teensy/obj/ARM/Debug
/winston-display/external/lvgl
/winston-display/x64/Debug
/winston-display-esp/.vs/winston-display-esp
/winston-display-esp/obj/x64/Debug
/winston-display-esp/__vm
/nul.d
/winston-display-esp/winston-secrets.h
/winston-display-esp/obj/x64/Release
/winston-display/res/icons/graphics
/winston-display/res/lvgl_graphics.utf8
/winston-display/x64/Release
